[path]
seed=../EEG/data/dataset/Processed_Dataset/seed/zero
seed_adj=../EEG/data/dataset/Processed_Dataset/seed/zero_with_adj
deap=../EEG/data/dataset/Processed_Dataset/deap
seed_iv=../EEG/data/dataset/Processed_Dataset/seed_iv
seed_iv_adj=../EEG/data/dataset/Processed_Dataset/seed_iv/zero_with_adj
faced=../EEG/data/dataset/Processed_Dataset/faced/2class

[seed]
nclass=3
sub_num=15
session_num=3
exp_num=15
channel_num=62

[seed_adj]
nclass=3
sub_num=15
session_num=3
exp_num=15
channel_num=62

[deap]
nclass=2
sub_num=32
session_num=1
exp_num=40
channel_num=32


[seed_iv]
nclass=4
sub_num=15
session_num=3
exp_num=24
channel_num=62

[seed_iv_adj]
nclass=4
sub_num=15
session_num=3
exp_num=24
channel_num=62

[faced]
nclass=2
sub_num=123
session_num=1
exp_num=24
channel_num=32

[basic]
epochs=200
batch_size=1
nclass=4
gpu=0
device=cuda:0
dropout=.5
lr=1e-4
k=10
seed=3407
train_mode=debug
model='SPP_GNN'
save_tsne_cm=0
save_model=0
save_path=./data/parser_save

[sample]
bands=5
dataset=seed_iv
feature_type=de
label_type='valence
channels_num=62
feature_len=265
session=0

[loss]
loss2=1e-4
loss1=5e-6

[split]
split_method=loso
cur_sub_index=0
cur_session_index=0
cur_exp_index=0
clip_length=1

[arameter]
graph_out=128
spp=True
num_levels=3

[config]
config_path='../EEG/global.config'